<div class="wrapper">
  <div class="container">
    <h3>Login</h3>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Continue</button>
    <span class="alternative-action">or use</span>
    <button type="button" class="btn__hint" mat-raised-button (click)="openHint()">Hint</button>
    <div class="hint" *ngIf="isOpen">
      <p>user@gmail.com</p>
      <p>password</p>
    </div>
  </div>
</div>