<div class="wrapper">
  <div class="container">
    <h2>Create Note</h2>
    <form [formGroup]="notesForm" (ngSubmit)="onSubmit()">
      <app-input
        [label]="'Enter the title'"
        [type]="'text'"
        [control]="notesForm.controls.title">
      </app-input>
      <app-input
        [label]="'Tell your story'"
        [type]="'text'"
        [control]="notesForm.controls.text">
      </app-input>
      <button type="submit" mat-raised-button color="primary" [disabled]="!notesForm.valid">Save Note</button>
    </form>
  </div>
</div>